tests/terraform/
.venv/
.venv-static/
.vscode/
.tools/
__pycache__/

./evaluation/compile_evaluation/ResearchExperimentsInAction/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc

# Sensitive data
code/config/sensitive.py